NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_SITE_URL=https://dreamvalleypublications.com
NEXT_PUBLIC_COMPANY_NAME=Dream Valley Publications
NEXT_PUBLIC_COMPANY_SHORT_NAME=Dream Valley
NEXT_PUBLIC_SUPPORT_EMAIL=support@dreamvalleypublications.com
NEXT_PUBLIC_CONSULTATION_EMAIL=consult@dreamvalleypublications.com
NEXT_PUBLIC_SUPPORT_PHONE=+91 90000 00000
NEXT_PUBLIC_PRIMARY_REGION=India
NEXT_PUBLIC_PRIMARY_TIMEZONE=IST (UTC+05:30)
DATABASE_URL=postgres://username:password@your-neon-endpoint.neon.tech/neondb?sslmode=require
NEON_PROJECT_ID=projectid-square-silence-75762780
NEON_API_URL=https://ep-quiet-lab-aosnffu3.apirest.c-2.ap-southeast-1.aws.neon.tech/neondb/rest/v1
